# Sample config file to run PoCs of magma crashes

# Target for which the PoC must be run.
# Can be one of: libpng libsndfile libtiff libxml2 lua openssl php poppler sqlite3
TARGET=

# Which bug's PoC must be run.
# Can be one of the bug folder names present in the TARGET/ folder
BUG=
